.App {
  text-align: center;
  margin: 1rem;
}

.content {
  margin: 1em;
  background-color: aquamarine;
}

.active {
  border: 1px solid black;
}

a {
  text-decoration: none;
  color: black;
}

.productsList {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}
